<h1> Dados da empresa </h1>
<div>
  <p> <%= @client_company.cnpj %> </p>
  <p> <%= @client_company.name %> </p>
  <p> <%= @client_company.billing_address %> </p>
  <p> <%= @client_company.billing_email %> </p>
  <p> <%= @client_company.admin %> </p>
  <p> <%= @client_company.domain %> </p>
  <p> <%= @client_company.token%></p>
</div>
<p><%= link_to 'Trocar token', regenerate_token_user_client_company_path(@client_company.token), method: :put, class:"btn btn-dark" %></p>
<p><%= link_to 'Editar', edit_user_client_company_path(@client_company.token) %></p>
<p><%= link_to 'Voltar', root_path %> </p>

