<h1> Dados da empresa </h1>
<div>
  <p> <%= @client_company.cnpj %> </p>
  <p> <%= @client_company.name %> </p>
  <p> <%= @client_company.billing_address %> </p>
  <p> <%= @client_company.billing_email %> </p>
  <p> <%= @client_company.admin %> </p>
  <p> <%= @client_company.token%>
</div>

  <%= link_to 'Voltar', root_path %>

