<%= form_with url: url, model: [:user, boleto_account] do |f| %>
  <p><%= f.label :bank_code %></p>
  <p><%= f.select :bank_code, banks, include_blank: true %>
  <% boleto_account.errors.full_messages_for(:bank_code).each do |message|%>
      <p><%=  message %></p> 
  <% end %> 
  <p><%= f.label :agency_code %></p>
  <p><%= f.text_field :agency_code %></p>
  <% boleto_account.errors.full_messages_for(:agency_code).each do |message| %> 
    <p><%=  message %></p> 
  <% end %> 
  <p><%= f.label :account_number %></p>
  <p><%= f.text_field :account_number%></p>
  <% boleto_account.errors.full_messages_for(:account_number).each do |message| %>
    <p><%=  message %></p> 
  <% end %> 
  <p><%= f.label :payment_method_id %></p>
  <p><%= f.collection_select :payment_method_id, @payment_boleto, :id, :name, include_blank: true%></p>
    <% boleto_account.errors.full_messages_for(:payment_method_id).each do |message| %>
    <p><%=  message %></p> 
  <% end %> 
  <p><%= f.submit %></p>
<% end %>